body {
  margin: 0;
  font-family: sans-serif;
}

.light-mode {
  background-color: #fff;
  color: #333;
}

.sun {
  padding: 0 5px;
}
.moon {
  padding: 0 7px;
}

.dark-mode {
  background-color: #1a1919;
  color: #999;
}

.dark-mode nav {
  background-color: #1b2938;
}

nav {
  width: 100%;
  display: flex;
  background-color: steelblue;
  padding: 20px;
  justify-content: center;
}

main {
  padding: 0.5em;
  height: 100vh;
  font-size: 2em;
  text-align: center;
  transition: 1s;
}
.toggle {
  position: relative;
  padding: 0 4px;
  display: flex;
  align-items: center;
}
input[type="checkbox"].checkbox {
  width: 40px;
  height: 10px;
  background: #555;
  position: relative;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
}
input[type="checkbox"].checkbox:checked + label {
  left: 30px;
}
input[type="checkbox"].checkbox:focus-visible {
  outline: solid 2px white;
}

input[type="checkbox"].checkbox + label {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
  position: absolute;
  left: 2px;
  background: #fff;
  opacity: 0.8;
  background-color: cyan;
}

.toggle-container {
  display: flex;
  margin: 0 auto;
}
.toggle-container > span {
  border: none;
  background: none;
  cursor: pointer;
  margin-top: 4px;
  margin-right: 2px;
}
